@import "tailwindcss";

body {
  margin: 0;
  background-color: #f3f4f6; /* Fondo gris claro de producción */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
